@import 'tools/tools'

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto:700');

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr;
    grid-template-areas: "header"
                         "content";
    font-family: 'Libre Baskerville', serif;
    line-height: 1.6;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "title title title"
                         "nav none none";
}

#title {
    color: red;
    background: rgb(255,205,205);
    grid-area: title;
    font-family: 'Roboto', sans-serif;
    padding-left: 1%;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.navlink {
    color: blue;
    border: 1px solid black;
    text-align: center;
}

.navlink + .navlink {
    border-left: none;
}

main {
    grid-area: content;
}

section {
    margin: 0;
    padding: 0;
}

hr {
    border-top: 1px dashed #8c8b8b;
}

img {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

p {
    padding: 1%;
}

ul {
    list-style: none;
}

#contact {
    display: grid;
    grid-template-areas: "img address";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
}

#contact img {
    height: 100%;
    width: auto;
}

address {
    grid-area: address;
    margin: auto;
    padding: 1%;
    text-align: right;
    line-height: 200%;
}

address span {
    background: white;
}